@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <br/> 
    <br/> 
    <p>
        This is a simple application to upload your documents to Azure. <br/>
        With document you can add its name and tags. <br/>
        If you want to share your documents, you can generate link to them and send it to other person. <br/>
        You need to select the link expiration time, the link will not be available forever.
    </p>
    <p>
        You need to be logged in to be able to upload documents. <br/>
        You can upload documents here: <a asp-area="" asp-page="/Upload">Upload documents</a>
    </p>
</div>